/* RESET  */
* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

/* Generali */
body {
      font-family: 'Fredoka', sans-serif;
      /* font-family: 'Fredoka One', cursive; */
      /* font-family: 'Open Sans', sans-serif; */
}

.clearfix::after {
      content: "";
      display: table;
      clear: both;
}

/* Header */
h1 {
      color: #e53170;
      text-align: center;
      font-size: 40px;
      padding: 30px 0;
      font-family: 'Fredoka One', cursive;
}

/* Main */
main {
      border: 4px solid green;
      max-width: 1100px;
      margin: 0 auto;
      height: 600px;
}

.paragraph {
      border: 4px solid red;
      width: 100%;
      text-align: center;
}

.card-container {
      border: 4px solid blue;
      width: 100%;
}

.card-row {
      border: 4px solid orange;
      width: 100%;
}

.card {
      border: 4px solid yellow;
      width: calc(100% / 3);
      background-color: black;
      /* height: 200px; */
}

img {
      display: inline-block;
      width: 100px;
}

.float-left {
      float: left;
}